<nav class="navbar navbar-dark bg-primary pos-f-t m-b-1" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}">Repositorios
            Git</a>

        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <a class="nav-link" href="http://gitlist.org/">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('homepage') }}refresh">Refresh</a></li>
            <li class="nav-item">
                <a class="nav-link"
                   href="https://github.com/klaussilveira/gitlist/issues/new">
                    Report bug
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="https://github.com/klaussilveira/gitlist/wiki">Help</a>
            </li>
        </ul>

        {% if repo is defined %}
            {% if page in ['commits', 'searchcommits'] %}
                <form class="pull-xs-right m-r-1"
                      action="{{ app.request.basepath }}/{{ repo }}/commits/{{ branch }}/search"
                      method="POST">
                    <input type="search" name="query"
                           class="form-control input-sm"
                           placeholder="Search commits...">
                </form>
            {% else %}
                <form class="pull-xs-right m-r-1"
                      action="{{ app.request.basepath }}/{{ repo }}/tree/{{ branch }}/search"
                      method="POST">
                    <input type="search" name="query"
                           class="form-control input-sm"
                           placeholder="Search tree...">
                </form>
            {% endif %}
        {% endif %}

    </div>
</nav>